{% extends 'core/padre.html' %}

{% block title %}Profesores - Mi Proyecto{% endblock %}

{% block content %}
<h1 class="mb-4"><i class="bi bi-person-badge"></i> Profesores</h1>
{% if profesores %}
    <ul class="list-group">
        {% for profesor in profesores %}
            <li class="list-group-item">
                {{ profesor.nombre }} {{ profesor.apellido }} - {{ profesor.email }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No hay profesores registrados.</p>
{% endif %}
{% endblock %}